<h1>Bem-vindo à Biblioteca Municipal</h1>

<% if Current.librarian.admin? %>
  <p>Você está na área do administrador.</p>
  <p><%= link_to 'Gerenciar Bibliotecários', admin_librarians_path, class: 'btn-primary' %></p>
<% else %>
  <p>Você está na área de gerenciamento do acervo.</p>
  <div class="dashboard-buttons">
    <%= link_to 'Gerenciar Categorias', categories_path, class: 'btn-primary' %>
    <%# O botão para Livros apontará para uma rota futura %>
    <%= link_to 'Gerenciar Livros', '#', class: 'btn-secondary' %>
  </div>
<% end %>