<h1>Olá, <%= @user.full_name %>!</h1>
<p>Seu cadastro na Biblioteca Municipal foi realizado com sucesso.</p>
<p>Sua senha para realizar empréstimos é: <strong><%= @user.loan_password %></strong></p>
<p>Guarde esta senha com segurança.</p>